<div class="example-content" *ngIf="authUser$ | async; let user">
  <mat-card class="example-card">
    <mat-card-header class="d-flex align-items-center justify-content-between">
      <mat-card-title>Bienvenido/a {{ user.username }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Esta es la página principal del gestor de asistencia.</p>
      <p>Navega con los botones de abajo</p>
      <div class="button-group">
        <button *ngIf="user.role == 'admin'" mat-raised-button color="primary" routerLink="students">Estudiantes</button>
        <button mat-raised-button color="accent" routerLink="courses">Cursos</button>
        <button mat-raised-button color="accent" routerLink="inscriptions">Inscripciones</button>
        <button *ngIf="user.role == 'admin'" mat-raised-button color="accent" routerLink="users">Usuarios</button>
      </div>
    </mat-card-content>
  </mat-card>
</div>