<div class="row">
  <div class="col-12 mb-3 d-flex justify-content-between align-items-center">
    <h1 appHighlight>Cursos</h1>
    <div *ngIf="authUser$ | async; let user">
      <button *ngIf="user.role == 'admin'" mat-flat-button (click)="onSaveCourse()">Agregar Curso</button>
    </div>
  </div>
</div>

<ng-container *ngIf="isLoading$ | async; else notLoading">
  <p>Cargando, por favor espere...</p>
</ng-container>

<ng-template #notLoading>
  <app-courses-table [dataSource]="(courses$ | async) || []" (editCourse)="onSaveCourse($event)"
    (deleteCourse)="onDeleteCourse($event)"></app-courses-table>
</ng-template>