<div class="row">
  <div class="col-12 mb-3 d-flex justify-content-between align-items-center">
    <h1 appHighlight>Inscripciones</h1>
    <button mat-flat-button (click)="onSaveInscription()">Agregar Inscripción</button>
  </div>
</div>

<ng-container *ngIf="isLoading$ | async; else notLoading">
  <p>Cargando, por favor espere...</p>
</ng-container>

<ng-template #notLoading>
  <app-inscriptions-table 
    [dataSource]="(inscriptions$ | async) || []"
    (editInscription)="onSaveInscription($event)"
    (deleteInscription)="onDeleteInscription($event)">
  </app-inscriptions-table>
</ng-template>